<html lang="zxx">

<head>
	<meta charset="utf-8" />
	<title>Legends of Tomorrow</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="Movie Pro" />
	<meta name="keywords" content="Movie Pro" />
	<meta name="author" content="" />
	<meta name="MobileOptimized" content="320" />
	<!--Template style -->
	<link rel="stylesheet" type="text/css" href="css/animate.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="css/flaticon.css" />
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
	<link rel="stylesheet" type="text/css" href="css/owl.theme.default.css" />
	<link rel="stylesheet" type="text/css" href="css/dl-menu.css" />
	<link rel="stylesheet" type="text/css" href="css/nice-select.css" />
	<link rel="stylesheet" type="text/css" href="css/magnific-popup.css" />
	<link rel="stylesheet" type="text/css" href="css/venobox.css" />
	<link rel="stylesheet" type="text/css" href="js/plugin/rs_slider/layers.css" />
	<link rel="stylesheet" type="text/css" href="js/plugin/rs_slider/navigation.css" />
	<link rel="stylesheet" type="text/css" href="js/plugin/rs_slider/settings.css" />
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/responsive.css" />
	<link rel="stylesheet" id="theme-color" type="text/css" href="#" />
	<!-- favicon links -->
	<link rel="shortcut icon" type="image/png" href="images/header/favicon.ico" />
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<!-- <script src='../../../google_analytics_auto.js'></script> -->
</head>
<script type="text/javascript">
	$(document).ready(function () {
		$("#ddlCountry,#ddlAge").on("change", function () {
			var country = $('#ddlCountry').find("option:selected").val();
			console.log(country)
			alert(country)
			var age = $('#ddlAge').find("option:selected").val();
			alert(age)
			SearchData(country, age)
		});
	});
	function SearchData(country, age) {
		if (country.toUpperCase() == 'ALL' && age.toUpperCase() == 'ALL') {
			$('#table11 tbody tr').show();
		} else {
			$('#table11 tbody tr:has(td)').each(function () {
				var rowCountry = $.trim($(this).find('td:eq(8)').text());
				alert(rowCountry, "**************")
				var rowAge = $.trim($(this).find('td:eq(9)').text());
				alert(rowAge, "&&&&&&&&&&&&&&");
				if (country.toUpperCase() != 'ALL' && age.toUpperCase() != 'ALL') {
					if (rowCountry.toUpperCase() == country.toUpperCase() && rowAge == age) {
						$(this).show();
					} else {
						$(this).hide();
					}
				} else if ($(this).find('td:eq(9)').text() != '' || $(this).find('td:eq(10)').text() != '') {
					if (country != 'all') {
						if (rowCountry.toUpperCase() == country.toUpperCase()) {
							$(this).show();
						} else {
							$(this).hide();
						}
					}
					if (age != 'all') {
						if (rowAge == age) {
							$(this).show();
						}
						else {
							$(this).hide();
						}
					}
				}

			});
		}
	}
</script>

<script type="text/javascript">
	$(function () {
		//Assign Click event to Button.
		$("#btnGet").click(function () {
			var message = {};
			alert("shivani")
			var arr = []
			var q = []
			var o1 = []
			var o2 = []
			var o3 = [];
			var o4 = [];
			var teache_arr = [];
			// var d = [];
			var cat = [];
			var course_topic = [];
			//Loop through all checked CheckBoxes in GridView.
			$("#table11 input[type=checkbox]:checked").each(function () {
				var row = $(this).closest("tr")[0];
				q.push(row.cells[1].innerHTML);
				o1.push(row.cells[2].innerHTML);
				o2.push(row.cells[3].innerHTML);
				o3.push(row.cells[4].innerHTML);
				o4.push(row.cells[5].innerHTML);
				teache_arr.push(row.cells[6].innerHTML);
				cat.push(row.cells[7].innerHTML);
				course_topic.push(row.cells[8].innerHTML);

				// message["option2"] = row.cells[3].innerHTML;
				// message["option3"] = row.cells[4].innerHTML;
				// message["option4"] = row.cells[5].innerHTML;
				// message["teacher_name"] = row.cells[6].innerHTML;
				// // message["Date"] = row.cells[7].innerHTML;
				// message["category"] = row.cells[7].innerHTML;
				// message["Course_topic"] = row.cells[8].innerHTML;

				// arr.push(message)
			});
			arr.push(q)
			arr.push(o1)
			arr.push(o2)
			arr.push(o3)
			arr.push(o4)
			arr.push(teache_arr)
			arr.push(cat)
			arr.push(course_topic)

			alert(arr)
			alert("dinesh")
			$.ajax({
				"url": "http://localhost:3000/teacher_create_examQuestion",
				"method": "POST",
				"data": { data: JSON.stringify(arr)},
				"contentType": "application/x-www-form-urlencoded",
				// "jsonpCallback": "jsonpCallbacks.myCallback" + i,
				"success": function (res) {
					if (res) {
						window.location.href = "http://localhost:3000/create_exam";
					} else {
						alert("error")
					}
				}
			})
			//Display selected Row data in Alert Box.
			alert(arr);
			console.log(arr)
			return false;
		});
	});
</script>
<style>
	.chkBigger {
		zoom: 1;
		transform: scale(2);
		-ms-transform: scale(2);
		-webkit-transform: scale(2);
		-o-transform: scale(2);
		-moz-transform: scale(2);
		transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		-o-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
	}

	/*DataTable css */
	table.dataTable tbody tr.myeven {
		background-color: #e0fbf6;
	}

	table.dataTable tbody tr.myodd {
		background-color: white;
	}

	.sec_testtbale {
		width: 100%;
		float: left;
		padding: 50px 0px;
	}

	.th_color {
		background: #42afed;
		color: #fff;
	}

	.tab_slt {
		background: #42afed;
		border-radius: unset;
		margin-right: 15px;
		color: #7f7979;
		font-weight: bold;
		width: 100%;
	}

	.table_a {
		border: none;
	}
</style>
<script>
	function get_data() {
		var emergencyRows = $("tbody#emergency").find("tr:gt(0)");
		console.log(emergencyRows)
	}

</script>

<body>
	<!-- preloader Start -->
	<div id="preloader">
		<div id="status">
			<img src="images/header/horoscope.gif" id="preloader_image" alt="loader">
		</div>
	</div>

	<div class="prs_navigation_main_wrapper">
		<div class="container-fluid">
			<div id="search_open" class="gc_search_box">
				<input type="text" placeholder="Search here">
				<button><i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</div>
			<div class="prs_navi_left_main_wrapper">
				<div class="prs_logo_main_wrapper">
					<a href="index.html" style="font-size: 25px;color: #fff; font-weight: 700;">
						<img src="images/header/logo_ookul.png" alt="logo" />
					</a>
				</div>
				<div class="prs_menu_main_wrapper">
					<nav class="navbar navbar-default">
						<div id="dl-menu" class="xv-menuwrapper responsive-menu">
							<button class="dl-trigger">
								<img src="images/header/bars.png" alt="bar_png">
							</button>
							<div class="prs_mobail_searchbar_wrapper" id="search_button"> <i class="fa fa-search"></i>
							</div>
							<div class="clearfix"></div>
							<ul class="dl-menu">
								<li class="parent"><a href="#">Home</a>
									<ul class="lg-submenu">
										<li><a href="#">Index-I</a></li>
										<li><a href="#">Index-II</a></li>
										<li><a href="#">Index-III</a></li>
										<li><a href="#">Index-IV</a></li>
									</ul>
								</li>
								<li class="parent megamenu"><a href="#">All Course</a>
									<ul class="lg-submenu">
										<li><a>Popular Hindi Movies</a>
											<ul class="lg-submenu">
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Bajiro
														Mastani</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Drishyam</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Queen</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Wanted</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Veer</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Jannat</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Baaghi</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Baaghi-2</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Ki & Ka</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Kahaani</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Jab We Met</a>
												</li>
											</ul>
										</li>
										<li><a>Popular Kannada Movies</a>
											<ul class="lg-submenu">
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Zoom</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Kirik
														Party</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Mahakali</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">karvva</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Ishtakamya</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a
														href="#">Jigarthanda</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Abhimani</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Priyanka</a>
												</li>
											</ul>
										</li>
										<li><a>Popular Bengali Movies</a>
											<ul class="lg-submenu">
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Baro Bou</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Tomake</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Jeevan</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Haraner </a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Bidhilipi</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Bhalobasa </a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Prateek</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Aparanher</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a
														href="#">Mukhyamantri</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Charmurti</a>
												</li>
											</ul>
										</li>
										<li><a>Popular Hollywood Movies</a>
											<ul class="lg-submenu">
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Wind River</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Logan</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Coco</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Meyerowitz
													</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Ragnarok</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Driver</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Dunkirk</a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Big Sick </a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">American </a>
												</li>
												<li class="ar_left"><i class="fa fa-film"></i><a href="#">Logan </a>
												</li>
											</ul>
										</li>
										<li>
											<div class="prs_navi_slider_wraper">
												<div class="owl-carousel owl-theme">
													<div class="item">
														<img src="images/content/up1.jpg" alt="navi_img">
													</div>
													<div class="item">
														<img src="images/content/up2.jpg" alt="navi_img">
													</div>
													<div class="item">
														<img src="images/content/up3.jpg" alt="navi_img">
													</div>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="parent"><a href="#">Quizzes</a>
									<ul class="lg-submenu">
										<li><a href="#">Star Plus</a></li>
										<li><a href="#">Star Jalsha</a></li>
										<li><a href="#">Star Gold</a></li>
										<li><a href="#">Sony TV</a></li>
										<li><a href="#">Sab TV</a></li>
										<li><a href="#">Sony Pal</a></li>
										<li><a href="#">Set Max</a></li>
									</ul>
								</li>
								<li class="parent megamenu"><a href="#">Tech on Ookul</a>
									<ul class="lg-submenu prs_navi_video_wrapper">
										<li>
											<div class="prs_video_navi_img_main_wrapper">
												<img src="images/content/vp1.jpg" alt="video_img">
												<div class="prs_video_navi_overlay_wrapper"> <a
														class="test-popup-link button" rel='external'
														href='https://www.youtube.com/embed/ryzOXAO0Ss0'
														title='title'><i class="flaticon-play-button"></i></a>
												</div>
											</div>
										</li>
										<li>
											<div class="prs_video_navi_img_main_wrapper">
												<img src="images/content/vp2.jpg" alt="video_img">
												<div class="prs_video_navi_overlay_wrapper"> <a
														class="test-popup-link button" rel='external'
														href='https://www.youtube.com/embed/ryzOXAO0Ss0'
														title='title'><i class="flaticon-play-button"></i></a>
												</div>
											</div>
										</li>
										<li>
											<div class="prs_video_navi_img_main_wrapper">
												<img src="images/content/vp3.jpg" alt="video_img">
												<div class="prs_video_navi_overlay_wrapper"> <a
														class="test-popup-link button" rel='external'
														href='https://www.youtube.com/embed/ryzOXAO0Ss0'
														title='title'><i class="flaticon-play-button"></i></a>
												</div>
											</div>
										</li>
										<li>
											<div class="prs_video_navi_img_main_wrapper">
												<img src="images/content/vp4.jpg" alt="video_img">
												<div class="prs_video_navi_overlay_wrapper"> <a
														class="test-popup-link button" rel='external'
														href='https://www.youtube.com/embed/ryzOXAO0Ss0'
														title='title'><i class="flaticon-play-button"></i></a>
												</div>
											</div>
										</li>
										<li>
											<div class="prs_video_navi_img_main_wrapper">
												<img src="images/content/vp5.jpg" alt="video_img">
												<div class="prs_video_navi_overlay_wrapper"> <a
														class="test-popup-link button" rel='external'
														href='https://www.youtube.com/embed/ryzOXAO0Ss0'
														title='title'><i class="flaticon-play-button"></i></a>
												</div>
											</div>
										</li>
										<li class="hidden-sm">
											<div class="prs_video_navi_img_main_wrapper">
												<img src="images/content/vp6.jpg" alt="video_img">
												<div class="prs_video_navi_overlay_wrapper"> <a
														class="test-popup-link button" rel='external'
														href='https://www.youtube.com/embed/ryzOXAO0Ss0'
														title='title'><i class="flaticon-play-button"></i></a>
												</div>
											</div>
										</li>
									</ul>
								</li>
								<li class="parent"><a href="#">Categories</a>
									<ul class="lg-submenu">
										<li class="parent"><a href="#">Blog</a>
											<ul class="lg-submenu">
												<li><a href="blog_category.html">Blog-Category</a>
												</li>
												<li><a href="blog_single.html">Blog-Single</a>
												</li>
											</ul>
										</li>
										<li class="parent"><a href="#">Event</a>
											<ul class="lg-submenu">
												<li><a href="event_category.html">Event-Category</a>
												</li>
												<li><a href="event_single.html">Event-Single</a>
												</li>
											</ul>
										</li>
										<li class="parent"><a href="#">Movie</a>
											<ul class="lg-submenu">
												<li><a href="movie_category.html">Movie-Category</a>
												</li>
												<li><a href="movie_single.html">Movie-Single</a>
												</li>
												<li><a href="movie_single_second.html">Movie-Single-II</a>
												</li>
											</ul>
										</li>
										<li><a href="gallery.html">gallery</a>
										</li>
										<li><a href="booking_type.html">Booking-Type</a>
										</li>
										<li><a href="confirmation_screen.html">Confirmation-Screen</a>
										</li>
										<li><a href="movie_booking.html">Movie-Booking</a>
										</li>
										<li><a href="seat_booking.html">Seat-Booking</a>
										</li>
									</ul>
								</li>
								<li class="parent"><a href="contact.html">contact</a>
								</li>
							</ul>
						</div>








						<!-- /dl-menuwrapper -->
					</nav>
				</div>
			</div>
			<div class="prs_navi_right_main_wrapper">
				<div class="prs_slidebar_wrapper">
					<button class="second-nav-toggler" type="button">
						<img src="images/header/bars.png" alt="bar_png">
					</button>
				</div>
				<div class="prs_top_login_btn_wrapper">
					<div class="prs_animate_btn1">
						<ul>
							<li>

								<!-------header profile start--->

								<div class="profile-header-wrap">
									<a class="profile-avatar" href="/people/jmans">
										<span class="profile-avatar-mask">
											<img class="profile-avatar-image" alt="jmans"
												src="http://ih0.redbubble.net/avatar.931631.100x100.jpg" width="60"
												height="60">
										</span>
									</a>

									<!------------------header profiledropdown--->

									<div class="dropdown">
										<button class="btn  dropdown-toggle dp_btn" type="button"
											id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											<i class="fa fa-caret-down dp_btn_i" aria-hidden="true"></i>

										</button>
										<div class="dropdown-menu menuprofie" aria-labelledby="dropdownMenuButton">
											<ul style="padding:8px">
												<li>
													<a class="dropdown-item" href="u_account.html"><i
															class="fa fa-home userpic" aria-hidden="true"> Your
															Account</i></a>
												</li>
												<li>
													<a class="dropdown-item" href="e_batche.html"><i
															class="fa fa-user userpic" aria-hidden="true">
															Batches</i></a>
												</li>
												<li>
													<a class="dropdown-item" href="e_bookr.html"><i
															class="fa fa-book  userpic" aria-hidden="true">
															Ebook</i></a>
												</li>
												<li>
													<a class="dropdown-item" href="e_addvideos.html"><i
															class="fa fa-video-camera  userpic" aria-hidden="true"> Add
															Videos</i></a>
												</li>
												<li>
													<a class="dropdown-item" href="e_productivity.html"><i
															class="fa fa-star  userpic" aria-hidden="true">
															Productivity</i></a>
												</li>

												<li>
													<a class="dropdown-item" href="e_important_a.html"><i
															class="fa fa-star  userpic" aria-hidden="true">
															Important</i></a>
												</li>
												<li>
													<a class="dropdown-item" href="e_libraries.html"><i
															class="fa fa-star  userpic" aria-hidden="true"> Libraries
														</i></a>
												</li>
												<li>
													<a class="dropdown-item" href="#" data-toggle="modal"
														data-target="#myModafri" target="_blank"><i
															class="fa fa-star  userpic" aria-hidden="true"> invite a
															Friend </i></a>
												</li>
											</ul>
										</div>
									</div>

									<!------------------headerprofiledropdown close--->

									<!------------------header profile close--->
							</li>
						</ul>
					</div>
				</div>

				<div class="wallet_i">

					<dl>

						<dd class="textup">10 </dd>
						<dt><a href="ookul_cheakout1.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
						</dt>
					</dl>
				</div>


				<div class="product-heading">

					<div class="con">
						<select>
							<option>All Categories</option>
							<option class="dropdown-item">Courses</option>
							<option>Trending</option>
							<option>Libraries</option>
							<option>Important</option>
							<option>Goal Set</option>
							<option>Groups</option>
							<option>Test</option>
							<option>charity/investors Profile </option>
						</select>
						<input type="text" placeholder="Search  , Video" class="inputlength">
						<button type="submit"><i class="flaticon-tool"></i>
						</button>
					</div>
				</div>
				<span style="margin-left:-10px;"> <a href="e_notification.html"><i
							class="fa fa-bell bellicon"></i></a></span>
			</div>


			<div id="mobile-nav" data-prevent-default="true" data-mouse-events="true">
				<div class="mobail_nav_overlay"></div>
				<div class="mobile-nav-box">
					<div class="mobile-logo">
						<a href="index.html" class="mobile-main-logo" style="color:#fff">

							<img src="images/header/logo_ookul.png" alt="logo" />
						</a>
						<a href="#" class="manu-close"><i class="fa fa-times"></i></a>
					</div>
					<ul class="mobile-list-nav">
						<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"> Home</i></a>
						</li>
						<li><a href="index.html"><i class="fa fa-pencil-square-o" aria-hidden="true">
									Trending</i></a>
						</li>
						<li><a href="e_course.html"><i class="fa fa-book" aria-hidden="true"> Courses</i></a>
						</li>

						</li>
						<li><a href="e_Charity.html"><i class="fa fa-star" aria-hidden="true"> Charity investor</i></a>
						<li><a href="e_Charity.html"><i class="fa fa-users" aria-hidden="true"> Groups</i></a>
						</li>
						<li><a href="e_Test.html"><i class="fa fa-pencil-square-o" aria-hidden="true"> Test</i></a>
						</li>
						<li><a href="e_ebook.html"><i class="fa fa-book" aria-hidden="true"> Ebook</i></a>
						</li>
						<li><a href="e_contact.html"><i class="fa fa-user" aria-hidden="true"> Contact Us</i></a>
						</li>

					</ul>
					<div class="product-heading prs_slidebar_searchbar_wrapper">
						<div class="con">
							<select>
								<option>All Categories</option>
								<option>Courses</option>
								<option>Trending</option>
								<option>Libraries</option>
								<option>Important</option>
								<option>Goal Set</option>
								<option>Groups</option>
								<option>Test</option>
								<option>charity/investors Profile </option>
							</select>
							<input type="text" placeholder="Search  , Video" class="inputlength1">
							<button type="submit"><i class="flaticon-tool"></i>
							</button>
						</div>
					</div>
					<div class="achivement-blog">
						<ul class="flat-list">
							<li>
								<a href="#"> <i class="fa fa-facebook"></i>
									<h6>Facebook</h6>
									<span class="counter">12546</span>
								</a>
							</li>
							<li>
								<a href="#"> <i class="fa fa-twitter"></i>
									<h6>Twiter</h6>
									<span class="counter">12546</span>
								</a>
							</li>
							<li>
								<a href="#"> <i class="fa fa-pinterest"></i>
									<h6>Pinterest</h6>
									<span class="counter">12546</span>
								</a>
							</li>
						</ul>
					</div>
					<div class="prs_top_login_btn_wrapper prs_slidebar_searchbar_btn_wrapper">
						<div class="prs_animate_btn1">
							<ul>
								<li><a href="#" class="button button--tamaya" data-text="sign up" data-toggle="modal"
										data-target="#myModal"><span>sign up</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs navigation End -->

	<!-- testtable_content -->

	<div class="sec_testtbale">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

						<select class="tab_slt" id="ddlCountry">
							<option value="all">Select Subjects </option>

							<!-- <option class="tab_opt"  value="">Subjects</option> -->
							<option class="tab_opt" value="G">G</option>
							<option class="tab_opt" value="GG">GG</option>
							<!-- <option class="tab_opt">demo3</option>
							<option class="tab_opt">demo4</option>
							<option class="tab_opt">demo5</option> -->
						</select>

					</div>

					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

						<select class="tab_slt" id="ddlAge">
							<option value="all">Select Topics </option>
							<!-- <option  class="tab_opt">Topics</option> -->
							<option class="tab_opt" value="H">h</option>
							<option class="tab_opt" value="HH">hh</option>
							<!-- <option class="tab_opt">demo</option>
							<option class="tab_opt">demo</option> -->
							<!-- <option class="tab_opt">demo</option> -->

						</select>

					</div>

					<!-- 

			                    <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

			                 	  <select class="tab_slt">
			                 	  	<option class="tab_opt">Author</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>

			                 	  </select>
			                     
			                    </div> 

			                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

			                 	  <select class="tab_slt">
			                 	  	<option class="tab_opt">Checked By</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>

			                 	  </select>
			                     
			                    </div>

			                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

			                 	  <select class="tab_slt">
			                 	  	<option class="tab_opt">Approved by</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>

			                 	  </select>
			                     
			                    </div>

			                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

			                 	  <select class="tab_slt">
			                 	  	<option class="tab_opt">Veiw</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>

			                 	  </select>
			                     
			                    </div>

			                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

			                 	  <select class="tab_slt">
			                 	  	<option class="tab_opt">Ignored</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>

			                 	  </select>
			                     
			                    </div>

			                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

			                 	  <select class="tab_slt">
			                 	  	<option class="tab_opt">Like</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>

			                 	  </select>
			                     
			                    </div>

			                     <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">

			                 	  <select class="tab_slt">
			                 	  	<option class="tab_opt">Comment by</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>
			                 	  	<option class="tab_opt">demo</option>

			                 	  </select>
			                     
			                    </div>

			                     -->
					<h1><%=data%></h1>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<table id="table11" class="table table-striped table-bordered table-responsive table_a"
							cellspacing="0" width="100%">


							<tr>
								<!-- <th class="th_color">&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox"
										 id="chkSelectAllStatus" name="chkSelectAllStatusGroup" class="chkBigger"
										title="Select All Checkboxes" /></th> -->
								<th class="th_color">options</th>

								<th class="th_color">Questions</th>
								<th class="th_color">option1</th>

								<th class="th_color">option2</th>
								<th class="th_color">option3</th>
								<th class="th_color">option4</th>
								<th class="th_color">Author</th>
								<!-- <th class="th_color">Date</th> -->
								<th class="th_color">Subject</th>
								<th class="th_color">Topics</th>

							</tr>

							<!-- <tbody id="emergency"> -->
							<tr>
								<%var q = data.questions%>
								<%var o1 = data.opetion1%>
								<%var o2 = data.opetion2%>
								<%var o3 = data.opetion3%>
								<%var o4 = data.opetion4%>
								<!-- <var date = data.date> -->

								<%var o5 = data.right_answer%>
								<%var rights = data.teacher_name%>
								<%var cate = data.category%>
								<%var topic = data.Course_topic%>
								<% a = 0%>

								<%q.forEach((details,i)=>{%>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" id="chkStatus"
										name="chkStatusGroupName" class="chkBigger" data-resendId="re2"
										data-statusName="@row[statusName].ToString()" data-tableIdentifier="tabIndent2"
										data-outputChannel="output2" /></td>

								<td title="Client name"><%=details%></td>
								<td title="TableIdentifier=@row[tableIdentifier].ToString()"><%=o1[i]%></td>
								<td title="This is @statusType id"><%=o2[i]%></td>
								<td title="StatusMap outputChannel"><%=o3[i]%></td>
								<td title="StatusMap inputChannel"><%=o4[i]%></td>
								<td title="Active"><%=rights%></td>
								<!-- <td title="Status Name"><date[i]></td> -->
								<td title="DateCreated"><%=cate[i]%></td>
								<td title="DateCreated"><%=topic[i]%></td>
							</tr>
							<%})%>

							<!-- <tr>
								<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="checkbox" id="chkStatus"
										name="chkStatusGroupName" class="chkBigger" data-resendId="re1"
										data-statusName="@row[statusName].ToString()" data-tableIdentifier="tabIdent1"
										data-outputChannel="output1" /></td>
								<td title="Client name">B</td>
								<td title="TableIdentifier=@row[tableIdentifier].ToString()">BB</td>
								<td title="This is @statusType id">CC</td>
								<td title="StatusMap outputChannel">DD</td>
								<td title="StatusMap inputChannel">EE</td>
								<td title="Active">EEE</td>
								<td title="Status Name">FF</td>
								<td title="DateCreated">GG</td>
								<td title="DateCreated">hh</td>
							</tr> -->
							<!-- </tbody> -->

						</table>
						<button id="btnResendStatus" onclick="get_data()" style="width:220px"
							class="btn btn-primary">Submit Selected
							Status</button>
						<button id="btnGet" style="width:220px" type="submit" class="btn btn-primary">Create Exam</button>

					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- testtable_content close-->


	<!-- prs footer Wrapper Start -->
	<div class="prs_footer_main_section_wrapper">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_1">
						<a href="index.html">
							<img src="images/header/logo_ookul.png" alt="logo" />
						</a>

					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_2">

						<ul style="padding-top:0px;">
							<li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="e_about.html">About Us</a>
							</li>
							<li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="e_helpsupport.html">Help & Support</a>
							</li>
							<li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="e_faq.html">FAQ</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_3">

						<ul style="padding-top:0px;">
							<li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="e_contact.html">Contact Us</a>
							</li>
							<li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="e_learningtermcondition.html">Term &
									Condition</a>
							</li>
							<li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="e_learningpolicy.html">Privacy
									Policy</a>
							</li>
							<li><i class="fa fa-circle"></i> &nbsp;&nbsp;<a href="e_learningreturnpolicy.html">Return
									Policy</a>
							</li>

						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="prs_footer_cont1_wrapper prs_footer_cont1_wrapper_4">
						<h2>App available on</h2>
						<p>Download App Legends of Tomorrow</p>
						<ul>
							<li>
								<a href="#">
									<img src="images/content/f1.jpg" alt="footer_img">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="images/content/Paypal_visa_mastercard_amex_logo.png" alt="footer_img">
								</a>
							</li>

						</ul>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="prs_bottom_footer_wrapper"> <a href="javascript:" id="return-to-top"><i
				class="flaticon-play-button"></i></a>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
					<div class="prs_bottom_footer_cont_wrapper">
						<p> All rights reserved - Design by <a href="http://www.sveltose.in/">SVELTOSE TECHNOLOGIES</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-4 col-xs-12">
					<div class="prs_footer_social_wrapper">
						<ul>
							<li><a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-youtube-play"></i></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- prs footer Wrapper End -->
	<!-- st login wrapper Start -->
	<div class="modal fade st_pop_form_wrapper" id="myModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="st_pop_form_heading_wrapper float_left">
					<h3>Log in</h3>
				</div>
				<div class="st_profile_input float_left">
					<label>Email / Mobile Number</label>
					<input type="text">
				</div>
				<div class="st_profile__pass_input st_profile__pass_input_pop float_left">
					<input type="password" placeholder="Password">
				</div>
				<div class="st_form_pop_fp float_left">
					<h3><a href="#" data-toggle="modal" data-target="#myModa2" target="_blank">Forgot Password?</a></h3>
				</div>
				<div class="st_form_pop_login_btn float_left"> <a
						href="http://webstrot.com/html/moviepro/html/page-1-7_profile_settings.html">LOGIN</a>
				</div>
				<div class="st_form_pop_or_btn float_left">
					<h4>or</h4>
				</div>
				<div class="st_form_pop_facebook_btn float_left"> <a href="#" data-toggle="modal"
						data-target="#myModaotp" target="_blank"> Connect with OTP</a>
				</div>
				<div class="st_form_pop_facebook_btn float_left"> <a href="#"> Connect with Facebook</a>
				</div>
				<div class="st_form_pop_gmail_btn float_left"> <a href="#"> Connect with Google</a>
				</div>
				<div class="st_form_pop_signin_btn float_left">
					<h4>Don’t have an account? <a href="#" data-toggle="modal" data-target="#myModa3"
							target="_blank">Sign Up</a></h4>
					<h5>I agree to the <a href="e_learningtermcondition.html">Terms & Conditions</a> & <a
							href="e_learningpolicy.html">Privacy Policy</a> & <a
							href="e_learningreturnpolicy.html">Return Policy</a></h5>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade st_pop_form_wrapper" id="myModa2" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="st_pop_form_heading_wrapper st_pop_form_heading_wrapper_fpass float_left">
					<h3>Forgot Password</h3>
					<p>We can help! All you need to do is enter your email ID and follow the instructions!</p>
				</div>
				<div class="st_profile_input float_left">
					<label>Email Address</label>
					<input type="text">
				</div>
				<div class="st_form_pop_fpass_btn float_left"> <a href="#">Verify</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade st_pop_form_wrapper" id="myModa3" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="st_pop_form_heading_wrapper float_left">
					<h3>Sign Up</h3>
				</div>
				<div class="st_profile_input float_left">
					<label>First Name</label>
					<input type="text">
					<label>Last Name</label>
					<input type="text">
					<label>Email / Mobile Number</label>
					<input type="text">
					<label>state</label>
					<input type="text">
					<label>City</label>
					<input type="text">
					<label>District</label>
					<input type="text">

				</div>
				<div class="st_profile__pass_input st_profile__pass_input_pop float_left">
					<input type="password" placeholder="Password">
				</div>
				<div class="st_profile__pass_input st_profile__pass_input_pop float_left">
					<input type="password" placeholder=" Confirm Password">
				</div>


				<div class="st_form_pop_login_btn float_left"> <a
						href="http://webstrot.com/html/moviepro/html/page-1-7_profile_settings.html">Submit</a>
				</div>


				<div class="st_form_pop_or_btn float_left">
					<h4>or</h4>
				</div>
				<div class="st_form_pop_facebook_btn float_left"> <a href="#" data-toggle="modal"
						data-target="#myModaotp" target="_blank"> Connect with OTP</a>
				</div>
				<div class="st_form_pop_facebook_btn float_left"> <a href="#"><i class="fab fa-facebook-f"></i> Connect
						with Facebook</a>
				</div>
				<div class="st_form_pop_gmail_btn float_left"> <a href="#"><i class="fab fa-google-plus-g"></i> Connect
						with Google</a>
				</div>
				<div class="st_form_pop_signin_btn st_form_pop_signin_btn_signup float_left">
					<h5>I agree to the <a href="e_learningtermcondition.html">Terms & Conditions</a> & <a
							href="e_learningpolicy.html">Privacy Policy</a> & <a
							href="e_learningreturnpolicy.html">Return Policy</a></h5>
				</div>
			</div>
		</div>
	</div>


	<!-- st login wrapper End -->

	<!-- modal_friendinvite -->

	<div class="modal fade st_pop_form_wrapper" id="myModafri" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="st_pop_form_heading_wrapper float_left">
					<h3>your friend E-mail ID</h3>

				</div>


				<form action="/action_page.php">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<input type="e-mail" id="e-mail" name="e-mail" style="width:100%; padding: 10px;">

					</div>
					<div class="col-md-12 col-sm-12 col-xs-12">

						<button class="btn btn-success" data-dismiss="modal" style="margin-top:15px;">Submit</button>

					</div>


				</form>


			</div>
		</div>
	</div>
	<!-- modal_friendinvite End -->

	<!-- modal_otplogin -->

	<div class="modal fade st_pop_form_wrapper" id="myModaotp" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="st_pop_form_heading_wrapper float_left">
					<h3>Enter OTP Code</h3>

				</div>

				<form action="/action_page.php">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<input id="partitioned" type="text" maxlength="4" />

						<div class="col-md-12 col-sm-12 col-xs-12">

							<button class="btn btn-success" data-dismiss="modal"
								style="margin-top:15px;">Submit</button>
							<button class="btn btn-success" data-dismiss="modal" style="margin-top:15px;">Re send
							</button>

						</div>
				</form>

			</div>
		</div>
	</div>

	<!-- modal_otplogin End -->

	<!--main js file start-->
	<script src="js/jquery_min.js"></script>
	<script src="js/modernizr.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/owl.carousel.js"></script>
	<script src="js/jquery.dlmenu.js"></script>
	<script src="js/jquery.sticky.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<script src="js/jquery.magnific-popup.js"></script>
	<script src="js/jquery.bxslider.min.js"></script>
	<script src="js/venobox.min.js"></script>
	<script src="js/smothscroll_part1.js"></script>
	<script src="js/smothscroll_part2.js"></script>
	<script src="js/plugin/rs_slider/jquery.themepunch.revolution.min.js"></script>
	<script src="js/plugin/rs_slider/jquery.themepunch.tools.min.js"></script>
	<script src="js/plugin/rs_slider/revolution.addon.snow.min.js"></script>
	<script src="js/plugin/rs_slider/revolution.extension.actions.min.js"></script>
	<script src="js/plugin/rs_slider/revolution.extension.carousel.min.js"></script>
	<script src="js/plugin/rs_slider/revolution.extension.kenburn.min.js"></script>
	<script src="js/plugin/rs_slider/revolution.extension.layeranimation.min.js"></script>
	<script src="js/plugin/rs_slider/revolution.extension.migration.min.js"></script>
	<script src="js/plugin/rs_slider/revolution.extension.navigation.min.js"></script>
	<script src="js/plugin/rs_slider/revolution.extension.parallax.min.js"></script>
	<script src="js/plugin/rs_slider/revolution.extension.slideanims.min.js"></script>
	<script src="js/plugin/rs_slider/revolution.extension.video.min.js"></script>
	<script src="js/custom.js"></script>
	<!--main js file end-->

	<!-- js for table -->

	<script type="text/javascript">
		$(function () {

			var table = $('#dtStatusSent').DataTable(
				{
					initComplete: function () {
						this.api().columns([1, 2, 3, 4, 5, 6, 7, 8, 9]).every(function () {
							var column = this;
							var select = $('<select><option value=""></option></select>')
								.appendTo($(column.footer()).empty())
								.on('change', function () {
									var val = $.fn.dataTable.util.escapeRegex(
										$(this).val()
									);

									column
										.search(val ? '^' + val + '$' : '', true, false)
										.draw();
								});

							column.data().unique().sort().each(function (d, j) {
								select.append('<option value="' + d + '">' + d + '</option>')
							});
						});
					},


					"stripeClasses": ['myodd', 'myeven'],
					dom: 'Blfrtip',
					buttons: [{
						extend: 'excel',
						footer: 'true',
						text: 'Export To Excel',
						title: 'Get List Of Sent Status',
						exportOptions: {
							columns: [1, 2, 3, 4, 5]//only 5 columns
						}
					}],
					paging: true,
					sort: true,
					searching: true,
					'pageLength': 25,
					"bLengthChange": false,//hide show entries
					deferRender: true,
					scrollY: 650,
					scrollX: true,
					scrollCollapse: true,
					scroller: true,
					"sPaginationType": "full_numbers",
					orderCellsTop: true,
					fixedHeader: true,

				});//end of datatable init

		});

		$('body').on('click', '#chkSelectAllStatus', function () {
			var childChkClass = 'chkBigger';
			$('input:checkbox[class="' + childChkClass + '"]').prop('checked', this.checked);

		});

		$('body').on('click', '#btnResendStatus', function () {
			var tableIdentifier;
			var resendId = 0;
			var outputChannel;
			var lineArr = [];
			var statusDetailsParamModel = {};
			$('input[name="chkStatusGroupName"]:checked').each(function () {
				tableIdentifier = $(this).attr('data-tableIdentifier');
				resendId = $(this).attr("data-resendId");
				outputChannel = $(this).attr("data-outputChannel");
				statusDetailsParamModel.tableIdentifier = tableIdentifier;
				statusDetailsParamModel.resendId = resendId;
				statusDetailsParamModel.outputChannel = outputChannel;//to be confirmed if need this
				lineArr.push({ tableIdentifier: tableIdentifier, resendId: resendId, outputChannel: outputChannel });
			});//end of each

			//   alert(lineArr);
			$.each(lineArr, function (k, v) {
				alert('resendId: ' + lineArr[k].resendId + ',outputChannel: ' + lineArr[k].outputChannel);
			})
		});



	</script>

	<!-- js for table close-->

</body>

<!-- Mirrored from www.webstrot.com/html/moviepro/html/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 18 Sep 2020 06:47:07 GMT -->

</html>